@model HomeAutomationMVC.Models.RelayStateModel

@using HomeAutomationMVC.Helpers

@{
    ViewBag.Title = "Switch";
}

<h2>Relay Control</h2>

<br />

@*
@Html.RenderPartial("/MVC4/Automation/RelayState/PartialRelayStatus", model);
*@

<div id="console-relay">

Current State:
<br />

Relay 1: @Html.YesNo(@Model.currentState1)<br />
Relay 2: @Html.YesNo(@Model.currentState2)<br />
Relay 3: @Html.YesNo(@Model.currentState3)<br />
Relay 4: @Html.YesNo(@Model.currentState4)<br />

<br /><br />
</div>
    
<!--<form id="formBasic" action="https://api.particle.io/v1/devices/24002a001247353136383631/led?access_token=910e6334e063379fc1d3289298e85a2b7bbcd3d7" method="POST" class="form-inline">-->
<form id="formBasic">
           
    Control Relay D0<br>
    <br>
    <input type="radio" name="args" value="on">Turn Relay On.
    <br>
    <input type="radio" name="args" value="off">Turn Relay off.
    <br>
    <div class="form-group">
    <!--<input id="submit" type="submit" value="Submit">-->
    <button id="submit" class="btn btn-success">Control Relay</button>
    </div>

    <br> <br> 
    <div id="displayMessage"></div>
    <br> 
    Control Relay D1<br>
    <br>
    <input type="radio" name="args2" value="on">Turn Relay On.
    <br>
    <input type="radio" name="args2" value="off">Turn Relay off.
    <br>
    <div class="form-group">
    <!--<input id="submit" type="submit" value="Submit">-->
    <button id="submit2" class="btn btn-success">Control Relay</button>
    </div>

    <br> <br> 
    <div id="displayMessage2"></div>
    <br> 
    Control Relay D2<br>
    <br>
    <input type="radio" name="args3" value="on">Turn Relay On.
    <br>
    <input type="radio" name="args3" value="off">Turn Relay off.
    <br>
    <div class="form-group">
    <!--<input id="submit" type="submit" value="Submit">-->
    <button id="submit3" class="btn btn-success">Control Relay</button>
    </div>

    <br> <br> 
    <div id="displayMessage3"></div>

    <br> 
    Control Relay D3<br>
    <br>
    <input type="radio" name="args4" value="on">Turn Relay On.
    <br>
    <input type="radio" name="args4" value="off">Turn Relay off.
    <br>
    <div class="form-group">
    <!--<input id="submit" type="submit" value="Submit">-->
    <button id="submit4" class="btn btn-success">Control Relay</button>
    </div>

    <br> <br> 
    <div id="displayMessage4"></div>

</form>       
 
<script>
    
    $(document).ready(function () {

        var formBasic = function (channel, submit, displayMessage) {

            var formData = $("#formBasic").serialize();

            $.ajax({
                type: 'post',
                data: formData,
                dataType: 'json',
                url: 'https://api.particle.io/v1/devices/24002a001247353136383631/' + channel + '?access_token=910e6334e063379fc1d3289298e85a2b7bbcd3d7',
                error: function () {
                    alert("There was an error processing this page.");
                    return false;
                },
                complete: function (output) {

                    var jsonResult = JSON.stringify(output.responseText);
                    var resultObj = JSON.parse(jsonResult);

                    $("#formBasic")[0].reset();

                    $('#' + submit).removeClass("btn btn-success");
                    $('#' + submit).addClass( "btn btn-info" );
                    $('#' + displayMessage).html(output.responseText);                    
                    
                }
            });
            
            var relayStateModel = {};
            relayStateModel.args1 = $("input[name=args]").val();
            relayStateModel.args2 = $("input[name=args2]").val();
            relayStateModel.args3 = $("input[name=args3]").val();
            relayStateModel.args4 = $("input[name=args4]").val();
            relayStateModel.selectControl = formData;

            //var RootUrl = '@Url.Content("~/")';

            $.ajax({
                type: "POST",
                url: "/MVC4/Automation/RelayState",
                data: '{relayStateModel: ' + JSON.stringify(relayStateModel) + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    //alert("Hello: " + response.Name + " .\nCurrent Date and Time: " + response.DateTime);
                    $('#' + displayMessage).append("<br />" + relayStateModel.selectControl);
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });            

            return false;
        };        

        $("#submit").on("click", function (e) {
            e.preventDefault(); // <------------------ stop default behaviour of button
            formBasic("led", "submit", "displayMessage");
        });

        $("#submit2").on("click", function (e) {
            e.preventDefault(); // <------------------ stop default behaviour of button
            formBasic("led2", "submit2", "displayMessage2");
        });

        $("#submit3").on("click", function (e) {
            e.preventDefault(); // <------------------ stop default behaviour of button
            formBasic("led3", "submit3", "displayMessage3");
        });

        $("#submit4").on("click", function (e) {
            e.preventDefault(); // <------------------ stop default behaviour of button
            formBasic("led4", "submit4", "displayMessage4");
        });

    });
    
</script>

